<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>review</title>
</head>
<body>
<div class="col-sm-5 col-xs-12 ">
    <h3>testimonials</h3>
    <div class="wpc-testimonails">
        <div class="swiper-container carousel-container swiper-container-horizontal">
            <div class="swiper-wrapper" style="transform: translate3d(-378px, 0px, 0px); transition-duration: 0ms;"><div class="swiper-slide swiper-slide-duplicate swiper-slide-prev" data-swiper-slide-index="4" style="width: 348px; margin-right: 30px;">
                <div class="testimonial">
                    <img src="images/author.png" alt="testimonials author">
                    <div class="entry-meta">
                        <h4>Shela Mathews</h4>
                    </div>
                    <p>
                        Enthusiastically monetize plug-and-play scenarios through quality manufactured products. Monotonectally streamline standardized portals after proactive innovation. Energistically promote market positioning.
                    </p>
                </div>
            </div>
                <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="0" style="width: 348px; margin-right: 30px;">
                    <div class="testimonial">
                        <img src="images/author.png" alt="testimonials author">
                        <div class="entry-meta">
                            <h4>Shela Mathews</h4>
                        </div>
                        <p>
                            Enthusiastically monetize plug-and-play scenarios through quality manufactured products. Monotonectally streamline standardized portals after proactive innovation. Energistically promote market positioning.
                        </p>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="1" style="width: 348px; margin-right: 30px;">
                    <div class="testimonial">
                        <img src="images/author.png" alt="testimonials author">
                        <div class="entry-meta">
                            <h4>Shela Mathews</h4>
                        </div>
                        <p>
                            Enthusiastically monetize plug-and-play scenarios through quality manufactured products. Monotonectally streamline standardized portals after proactive innovation. Energistically promote market positioning.
                        </p>
                    </div>
                </div>
                <div class="swiper-slide" data-swiper-slide-index="2" style="width: 348px; margin-right: 30px;">
                    <div class="testimonial">
                        <img src="images/author.png" alt="testimonials author">
                        <div class="entry-meta">
                            <h4>Shela Mathews</h4>
                        </div>
                        <p>
                            Enthusiastically monetize plug-and-play scenarios through quality manufactured products. Monotonectally streamline standardized portals after proactive innovation. Energistically promote market positioning.
                        </p>
                    </div>
                </div>
                <div class="swiper-slide" data-swiper-slide-index="3" style="width: 348px; margin-right: 30px;">
                    <div class="testimonial">
                        <img src="images/author.png" alt="testimonials author">
                        <div class="entry-meta">
                            <h4>Shela Mathews</h4>
                        </div>
                        <p>
                            Enthusiastically monetize plug-and-play scenarios through quality manufactured products. Monotonectally streamline standardized portals after proactive innovation. Energistically promote market positioning.
                        </p>
                    </div>
                </div>
                <div class="swiper-slide" data-swiper-slide-index="4" style="width: 348px; margin-right: 30px;">
                    <div class="testimonial">
                        <img src="images/author.png" alt="testimonials author">
                        <div class="entry-meta">
                            <h4>Shela Mathews</h4>
                        </div>
                        <p>
                            Enthusiastically monetize plug-and-play scenarios through quality manufactured products. Monotonectally streamline standardized portals after proactive innovation. Energistically promote market positioning.
                        </p>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0" style="width: 348px; margin-right: 30px;">
                    <div class="testimonial">
                        <img src="images/author.png" alt="testimonials author">
                        <div class="entry-meta">
                            <h4>Shela Mathews</h4>
                        </div>
                        <p>
                            Enthusiastically monetize plug-and-play scenarios through quality manufactured products. Monotonectally streamline standardized portals after proactive innovation. Energistically promote market positioning.
                        </p>
                    </div>
                </div></div>
            <div class="swiper-pagination swiper-pagination-clickable"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>
        </div>
    </div>
</div>
</body>
</html>