<div th:fragment="layout-sidenav-content">
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Dashboard</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
                <div th:insert="~{admin/cards :: cards}"></div>
                <div th:insert="~{admin/chart-example :: charts}"></div>
                <div th:insert="~{admin/datatable-example :: datatable}"></div>
            </div>
        </main>
    </div>
</div>