<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/admin/head :: headContent}">
</head>
<body style="background-color: #000;">
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-4">영화 정보 입력하기</h3>
                            </div>
                            <div class="card-body">
                                <form id="movieRegisterForm" enctype="multipart/form-data">
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="inputTitle" type="text" placeholder="영화 제목을 입력하세요" />
                                        <label for="inputTitle">Movie Title</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="inputPlot" type="text" placeholder="영화 내용을 입력하세요" />
                                        <label for="inputPlot">Movie Information</label>
                                    </div>
                                    <div class="form-group mb-4">
                                        <label for="inputPoster">영화 이미지 업로드</label>
                                        <input class="form-control" id="inputPoster" type="file" multiple accept="image/jpg,image/png,image/jpeg" />
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                        <button type="submit">영화 정보 등록하기</button>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer text-center py-3">
                                <div class="small"><p id="responseText">여기 입력될 것임</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div id="layoutAuthentication_footer">
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2023</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    document.onreadystatechange

    document.querySelector('#movieRegisterForm').addEventListener('submit', async (event) => {
        event.preventDefault(); // 폼이 기본적으로 전송되지 않도록 방지

        const title = document.getElementById('inputTitle').value;
        const plot = document.getElementById('inputPlot').value;
        const selectImages = document.getElementById('inputPoster').files; // 파일 객체 가져오기

        let multipartFiles = new FormData(); // imageData를 밖에서 정의

        if (selectImages.length > 0) {
            // 파일 객체는 배열처럼 동작하므로 for문을 사용
            for (let i = 0; i < selectImages.length; i++) {
                multipartFiles.append('multipartFiles', selectImages[i]);
            }

            console.log("업로드할 이미지 데이터: ", multipartFiles);
        } else {
            console.log("선택된 이미지가 없습니다.");
        }

        axios.post('/api/movie/register', {
            title: title,
            plot: plot
        }).then(res => {
            if (res.status === 200) {
                console.log("영화 정보 저장 성공: ", res);
                alert("영화 정보 저장 성공!");
                console.log(res.data)
                const movieId = res.data;

                // 이미지 업로드
                axios.post(`/api/images/upload/${movieId}`, multipartFiles, {
                    headers: {
                        'Content-Type': 'multipart/form-data' // 파일 전송 시 multipart 설정 필요
                    }

                }).then(res => {
                    if (res.status === 200) {
                        console.log("이미지 저장 성공!");
                        alert("이미지 저장 성공!");
                        console.log("저장한 이미지 리스트: " + res.data);
                        window.location.href = "/api/admin/movie";
                    } else {
                        console.log("이미지 저장 실패!");
                        alert("이미지 저장 실패!");
                    }
                }).catch(err => {
                    console.log('이미지 저장 실패: ', err);
                });
            }
        }).catch(err => {
            console.log("영화 정보 저장 실패: ", err);
        });
    });
</script>
</body>
</html>