<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>box office</title>
</head>
<body>
<div class="col-sm-7 col-xs-12">
    <h3>box office</h3>
    <ul class="wpc-box-list">
        <li class="wpc-box-item">
            <ol>
                <li class="bx-item-t"><img src="images/boxoffice/thumb-1.jpg" alt="thumb"></li>
                <li class="bx-item-c">1</li>
                <li class="bx-item-title">
                    <h4>X-Men: Apocalypse</h4>
                    <span>Action, thriller</span>
                </li>
                <li class="bx-item-d">1 week</li>
                <li class="bx-item-m">1.1m</li>
            </ol>
        </li>
        <li class="wpc-box-item">
            <ol>
                <li class="bx-item-t"><img src="images/boxoffice/thumb-2.jpg" alt="thumb"></li>
                <li class="bx-item-c">2</li>
                <li class="bx-item-title">
                    <h4>Warcraft</h4>
                    <span>Action, thriller</span>
                </li>
                <li class="bx-item-d">2 week</li>
                <li class="bx-item-m">1.2m</li>
            </ol>
        </li>
        <li class="wpc-box-item">
            <ol>
                <li class="bx-item-t"><img src="images/boxoffice/thumb-3.jpg" alt="thumb"></li>
                <li class="bx-item-c">3</li>
                <li class="bx-item-title">
                    <h4>Hobbit: The battle</h4>
                    <span>Action, thriller</span>
                </li>
                <li class="bx-item-d">3 week</li>
                <li class="bx-item-m">1.3m</li>
            </ol>
        </li>
        <li class="wpc-box-item">
            <ol>
                <li class="bx-item-t"><img src="images/boxoffice/thumb-4.jpg" alt="thumb"></li>
                <li class="bx-item-c">4</li>
                <li class="bx-item-title">
                    <h4>James Bond: Spectre</h4>
                    <span>Action, thriller</span>
                </li>
                <li class="bx-item-d">4 week</li>
                <li class="bx-item-m">1.4m</li>
            </ol>
        </li>
        <li class="wpc-box-item">
            <ol>
                <li class="bx-item-t"><img src="images/boxoffice/thumb-5.jpg" alt="thumb"></li>
                <li class="bx-item-c">5</li>
                <li class="bx-item-title">
                    <h4>London has fallen</h4>
                    <span>Action, thriller</span>
                </li>
                <li class="bx-item-d">5 week</li>
                <li class="bx-item-m">1.5m</li>
            </ol>
        </li>

    </ul>
</div>
</body>
</html>