<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>order</title>
    <!-- Favicon -->
    <link th:rel="@{stylesheet}" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <link th:rel="@{stylesheet}" type="text/css" href="css/packages.min.css">
    <link th:rel="@{stylesheet}" type="text/css" href="css/default.css">
</head>
<body>
<div class="section-content pvb0 bg-cover" data-bg-image="images/coming-bg.jpg" style="background-image: url(&quot;images/coming-bg.jpg&quot;);">
    <div class="container pvt80">
        <div class="row">
            <div class="col-md-12">
                <div id="slider_coming" class="flexslider">

                    <div class="flex-viewport" style="overflow: hidden; position: relative;"><ul class="slides" style="width: 1600%; transition-duration: 0s; transform: translate3d(-1752px, 0px, 0px);"><li class="clone" aria-hidden="true" style="width: 876px; margin-right: 0px; float: left; display: block;">
                        <article class="product-item hover-dark">
                            <div class="featured-image bg-cover" style="background-image: url(&quot;http://localhost:8080/images/carousel/movie-6.jpg&quot;);">
                                <img src="images/carousel/movie-6.jpg" alt="image" draggable="false" style="display: none;">
                                <a href="https://vimeo.com/28177848" class="video-player"><i class="fa fa-play"></i></a>
                            </div>
                            <div class="entry-title">
                                <ul class="subtitle">
                                    <li>Action</li>
                                    <li>Science Fiction</li>
                                    <li>Adventure</li>
                                </ul>
                                <a href="javascript:;" class="title">Lord of the rings: The return of the kings </a>
                                <div class="entry-date"><span>5 May 2017</span></div>
                                <div class="social-links">
                                    <a href="javascript:;"><i class="fa fa-facebook"></i></a>
                                    <a href="javascript:;"><i class="fa fa-twitter"></i></a>
                                    <a href="javascript:;"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>

                            <div class="entry-desc">
                                <div class="row mh0">
                                    <div class="col-md-2 col-sm-3 col-xs-12 comming_movie ph0">
                                        <img src="images/carousel/movie-6.jpg" alt="movie" draggable="false">
                                    </div>
                                    <div class="col-md-8 col-sm-7 col-xs-12 entry-text phl3">
                                        <h3>synopsis</h3>
                                        <p>Authoritatively pontificate error-free deliverables and technically sound mindshare. Quickly build ong-term high-impact outsourcing vis-a-vis best-of-breed communities. Collaboratively disseminate prospective supply chains after corporate "outside the box" thinking. Rapidiously promote interactive metrics for ethical materials.  Professionally repurpose market-driven applications with...</p>
                                        <a href="javascript:;" class="btn order">pre order</a>
                                        <a href="javascript:;" class="btn more mhl20">Read more</a>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-12">
                                        <div class="wpc-skills animated">
                                            <div class="skill-block">
                                                <h5 class="timer" data-to="70" data-speed="500">6.4 </h5>
                                                <h6> - Metacritic</h6>
                                                <div class="skill-line">
                                                    <div class="line-fill" data-width-pb="70%" style="width: 70%;"></div>
                                                </div>
                                            </div>
                                            <div class="skill-block">
                                                <h5 class="timer" data-to="56" data-speed="500"> 5.5 </h5>
                                                <h6> - Photoshop</h6>
                                                <div class="skill-line">
                                                    <div class="line-fill" data-width-pb="56%" style="width: 56%;"></div>
                                                </div>
                                            </div>
                                            <div class="skill-block">
                                                <h5 class="timer" data-to="70" data-speed="500">6.4 </h5>
                                                <h6> - Metacritic</h6>
                                                <div class="skill-line">
                                                    <div class="line-fill" data-width-pb="70%" style="width: 70%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                        <li style="width: 876px; margin-right: 0px; float: left; display: block;" class="">
                            <article class="product-item hover-dark">
                                <div class="featured-image bg-cover" style="background-image: url(&quot;http://localhost:8080/images/carousel/movie-1.jpg&quot;);">
                                    <img src="images/carousel/movie-1.jpg" alt="image" draggable="false" style="display: none;">
                                    <a href="https://vimeo.com/28177848" class="video-player"><i class="fa fa-play"></i></a>
                                </div>
                                <div class="entry-title">
                                    <ul class="subtitle">
                                        <li>Action</li>
                                        <li>Science Fiction</li>
                                        <li>Adventure</li>
                                    </ul>
                                    <a href="javascript:;" class="title">Lord of the rings: The return of the kings </a>
                                    <div class="entry-date"><span>5 May 2017</span></div>
                                    <div class="social-links">
                                        <a href="javascript:;"><i class="fa fa-facebook"></i></a>
                                        <a href="javascript:;"><i class="fa fa-twitter"></i></a>
                                        <a href="javascript:;"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>

                                <div class="entry-desc">
                                    <div class="row mh0">
                                        <div class="col-md-2 col-sm-3 col-xs-12 comming_movie ph0">
                                            <img src="images/carousel/movie-1.jpg" alt="movie" draggable="false">
                                        </div>
                                        <div class="col-md-8 col-sm-7 col-xs-12 entry-text phl3">
                                            <h3>synopsis</h3>
                                            <p>Authoritatively pontificate error-free deliverables and technically sound mindshare. Quickly build ong-term high-impact outsourcing vis-a-vis best-of-breed communities. Collaboratively disseminate prospective supply chains after corporate "outside the box" thinking. Rapidiously promote interactive metrics for ethical materials.  Professionally repurpose market-driven applications with...</p>
                                            <a href="javascript:;" class="btn order">pre order</a>
                                            <a href="javascript:;" class="btn more mhl20">Read more</a>
                                        </div>
                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                            <div class="wpc-skills animated">
                                                <div class="skill-block">
                                                    <h5 class="timer" data-to="70" data-speed="500">6.4 </h5>
                                                    <h6> - Metacritic</h6>
                                                    <div class="skill-line">
                                                        <div class="line-fill" data-width-pb="70%" style="width: 70%;"></div>
                                                    </div>
                                                </div>
                                                <div class="skill-block">
                                                    <h5 class="timer" data-to="56" data-speed="500"> 5.5 </h5>
                                                    <h6> - Photoshop</h6>
                                                    <div class="skill-line">
                                                        <div class="line-fill" data-width-pb="56%" style="width: 56%;"></div>
                                                    </div>
                                                </div>
                                                <div class="skill-block">
                                                    <h5 class="timer" data-to="70" data-speed="500">6.4 </h5>
                                                    <h6> - Metacritic</h6>
                                                    <div class="skill-line">
                                                        <div class="line-fill" data-width-pb="70%" style="width: 70%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </li>
                        <li style="width: 876px; margin-right: 0px; float: left; display: block;" class="flex-active-slide">
                            <article class="product-item hover-dark">
                                <div class="featured-image bg-cover" style="background-image: url(&quot;http://localhost:8080/images/carousel/movie-2.jpg&quot;);">
                                    <img src="images/carousel/movie-2.jpg" alt="image" draggable="false" style="display: none;">
                                    <a href="https://vimeo.com/28177848" class="video-player"><i class="fa fa-play"></i></a>
                                </div>
                                <div class="entry-title">
                                    <ul class="subtitle">
                                        <li>Action</li>
                                        <li>Science Fiction</li>
                                        <li>Adventure</li>
                                    </ul>
                                    <a href="javascript:;" class="title">Lord of the rings: The return of the kings </a>
                                    <div class="entry-date"><span>5 May 2017</span></div>
                                    <div class="social-links">
                                        <a href="javascript:;"><i class="fa fa-facebook"></i></a>
                                        <a href="javascript:;"><i class="fa fa-twitter"></i></a>
                                        <a href="javascript:;"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>

                                <div class="entry-desc">
                                    <div class="row mh0">
                                        <div class="col-md-2 col-sm-3 col-xs-12 comming_movie ph0">
                                            <img src="images/carousel/movie-2.jpg" alt="movie" draggable="false">
                                        </div>
                                        <div class="col-md-8 col-sm-7 col-xs-12 entry-text phl3">
                                            <h3>synopsis</h3>
                                            <p>Authoritatively pontificate error-free deliverables and technically sound mindshare. Quickly build ong-term high-impact outsourcing vis-a-vis best-of-breed communities. Collaboratively disseminate prospective supply chains after corporate "outside the box" thinking. Rapidiously promote interactive metrics for ethical materials.  Professionally repurpose market-driven applications with...</p>
                                            <a href="javascript:;" class="btn order">pre order</a>
                                            <a href="javascript:;" class="btn more mhl20">Read more</a>
                                        </div>
                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                            <div class="wpc-skills animated">
                                                <div class="skill-block">
                                                    <h5 class="timer" data-to="70" data-speed="500">6.4 </h5>
                                                    <h6> - Metacritic</h6>
                                                    <div class="skill-line">
                                                        <div class="line-fill" data-width-pb="70%" style="width: 70%;"></div>
                                                    </div>
                                                </div>
                                                <div class="skill-block">
                                                    <h5 class="timer" data-to="56" data-speed="500"> 5.5 </h5>
                                                    <h6> - Photoshop</h6>
                                                    <div class="skill-line">
                                                        <div class="line-fill" data-width-pb="56%" style="width: 56%;"></div>
                                                    </div>
                                                </div>
                                                <div class="skill-block">
                                                    <h5 class="timer" data-to="70" data-speed="500">6.4 </h5>
                                                    <h6> - Metacritic</h6>
                                                    <div class="skill-line">
                                                        <div class="line-fill" data-width-pb="70%" style="width: 70%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </li>
                        <li style="width: 876px; margin-right: 0px; float: left; display: block;" class="">
                            <article class="product-item hover-dark">
                                <div class="featured-image bg-cover" style="background-image: url(&quot;http://localhost:8080/images/carousel/movie-3.jpg&quot;);">
                                    <img src="images/carousel/movie-3.jpg" alt="image" draggable="false" style="display: none;">
                                    <a href="https://vimeo.com/28177848" class="video-player"><i class="fa fa-play"></i></a>
                                </div>
                                <div class="entry-title">
                                    <ul class="subtitle">
                                        <li>Action</li>
                                        <li>Science Fiction</li>
                                        <li>Adventure</li>
                                    </ul>
                                    <a href="javascript:;" class="title">Lord of the rings: The return of the kings </a>
                                    <div class="entry-date"><span>5 May 2017</span></div>
                                    <div class="social-links">
                                        <a href="javascript:;"><i class="fa fa-facebook"></i></a>
                                        <a href="javascript:;"><i class="fa fa-twitter"></i></a>
                                        <a href="javascript:;"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>

                                <div class="entry-desc">
                                    <div class="row mh0">
                                        <div class="col-md-2 col-sm-3 col-xs-12 comming_movie ph0">
                                            <img src="images/carousel/movie-3.jpg" alt="movie" draggable="false">
                                        </div>
                                        <div class="col-md-8 col-sm-7 col-xs-12 entry-text phl3">
                                            <h3>synopsis</h3>
                                            <p>Authoritatively pontificate error-free deliverables and technically sound mindshare. Quickly build ong-term high-impact outsourcing vis-a-vis best-of-breed communities. Collaboratively disseminate prospective supply chains after corporate "outside the box" thinking. Rapidiously promote interactive metrics for ethical materials.  Professionally repurpose market-driven applications with...</p>
                                            <a href="javascript:;" class="btn order">pre order</a>
                                            <a href="javascript:;" class="btn more mhl20">Read more</a>
                                        </div>
                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                            <div class="wpc-skills animated">
                                                <div class="skill-block">
                                                    <h5 class="timer" data-to="70" data-speed="500">6.4 </h5>
                                                    <h6> - Metacritic</h6>
                                                    <div class="skill-line">
                                                        <div class="line-fill" data-width-pb="70%" style="width: 70%;"></div>
                                                    </div>
                                                </div>
                                                <div class="skill-block">
                                                    <h5 class="timer" data-to="56" data-speed="500"> 5.5 </h5>
                                                    <h6> - Photoshop</h6>
                                                    <div class="skill-line">
                                                        <div class="line-fill" data-width-pb="56%" style="width: 56%;"></div>
                                                    </div>
                                                </div>
                                                <div class="skill-block">
                                                    <h5 class="timer" data-to="70" data-speed="500">6.4 </h5>
                                                    <h6> - Metacritic</h6>
                                                    <div class="skill-line">
                                                        <div class="line-fill" data-width-pb="70%" style="width: 70%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </li>
                        <li style="width: 876px; margin-right: 0px; float: left; display: block;" class="">
                            <article class="product-item hover-dark">
                                <div class="featured-image bg-cover" style="background-image: url(&quot;http://localhost:8080/images/carousel/movie-4.jpg&quot;);">
                                    <img src="images/carousel/movie-4.jpg" alt="image" draggable="false" style="display: none;">
                                    <a href="https://vimeo.com/28177848" class="video-player"><i class="fa fa-play"></i></a>
                                </div>
                                <div class="entry-title">
                                    <ul class="subtitle">
                                        <li>Action</li>
                                        <li>Science Fiction</li>
                                        <li>Adventure</li>
                                    </ul>
                                    <a href="javascript:;" class="title">Lord of the rings: The return of the kings </a>
                                    <div class="entry-date"><span>5 May 2017</span></div>
                                    <div class="social-links">
                                        <a href="javascript:;"><i class="fa fa-facebook"></i></a>
                                        <a href="javascript:;"><i class="fa fa-twitter"></i></a>
                                        <a href="javascript:;"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>

                                <div class="entry-desc">
                                    <div class="row mh0">
                                        <div class="col-md-2 col-sm-3 col-xs-12 comming_movie ph0">
                                            <img src="images/carousel/movie-4.jpg" alt="movie" draggable="false">
                                        </div>
                                        <div class="col-md-8 col-sm-7 col-xs-12 entry-text phl3">
                                            <h3>synopsis</h3>
                                            <p>Authoritatively pontificate error-free deliverables and technically sound mindshare. Quickly build ong-term high-impact outsourcing vis-a-vis best-of-breed communities. Collaboratively disseminate prospective supply chains after corporate "outside the box" thinking. Rapidiously promote interactive metrics for ethical materials.  Professionally repurpose market-driven applications with...</p>
                                            <a href="javascript:;" class="btn order">pre order</a>
                                            <a href="javascript:;" class="btn more mhl20">Read more</a>
                                        </div>
                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                            <div class="wpc-skills animated">
                                                <div class="skill-block">
                                                    <h5 class="timer" data-to="70" data-speed="500">6.4 </h5>
                                                    <h6> - Metacritic</h6>
                                                    <div class="skill-line">
                                                        <div class="line-fill" data-width-pb="70%" style="width: 70%;"></div>
                                                    </div>
                                                </div>
                                                <div class="skill-block">
                                                    <h5 class="timer" data-to="56" data-speed="500"> 5.5 </h5>
                                                    <h6> - Photoshop</h6>
                                                    <div class="skill-line">
                                                        <div class="line-fill" data-width-pb="56%" style="width: 56%;"></div>
                                                    </div>
                                                </div>
                                                <div class="skill-block">
                                                    <h5 class="timer" data-to="70" data-speed="500">6.4 </h5>
                                                    <h6> - Metacritic</h6>
                                                    <div class="skill-line">
                                                        <div class="line-fill" data-width-pb="70%" style="width: 70%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </li>
                        <li style="width: 876px; margin-right: 0px; float: left; display: block;" class="">
                            <article class="product-item hover-dark">
                                <div class="featured-image bg-cover" style="background-image: url(&quot;http://localhost:8080/images/carousel/movie-5.jpg&quot;);">
                                    <img src="images/carousel/movie-5.jpg" alt="image" draggable="false" style="display: none;">
                                    <a href="https://vimeo.com/28177848" class="video-player"><i class="fa fa-play"></i></a>
                                </div>
                                <div class="entry-title">
                                    <ul class="subtitle">
                                        <li>Action</li>
                                        <li>Science Fiction</li>
                                        <li>Adventure</li>
                                    </ul>
                                    <a href="javascript:;" class="title">Lord of the rings: The return of the kings </a>
                                    <div class="entry-date"><span>5 May 2017</span></div>
                                    <div class="social-links">
                                        <a href="javascript:;"><i class="fa fa-facebook"></i></a>
                                        <a href="javascript:;"><i class="fa fa-twitter"></i></a>
                                        <a href="javascript:;"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>

                                <div class="entry-desc">
                                    <div class="row mh0">
                                        <div class="col-md-2 col-sm-3 col-xs-12 comming_movie ph0">
                                            <img src="images/carousel/movie-5.jpg" alt="movie" draggable="false">
                                        </div>
                                        <div class="col-md-8 col-sm-7 col-xs-12 entry-text phl3">
                                            <h3>synopsis</h3>
                                            <p>Authoritatively pontificate error-free deliverables and technically sound mindshare. Quickly build ong-term high-impact outsourcing vis-a-vis best-of-breed communities. Collaboratively disseminate prospective supply chains after corporate "outside the box" thinking. Rapidiously promote interactive metrics for ethical materials.  Professionally repurpose market-driven applications with...</p>
                                            <a href="javascript:;" class="btn order">pre order</a>
                                            <a href="javascript:;" class="btn more mhl20">Read more</a>
                                        </div>
                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                            <div class="wpc-skills animated">
                                                <div class="skill-block">
                                                    <h5 class="timer" data-to="70" data-speed="500">6.4 </h5>
                                                    <h6> - Metacritic</h6>
                                                    <div class="skill-line">
                                                        <div class="line-fill" data-width-pb="70%" style="width: 70%;"></div>
                                                    </div>
                                                </div>
                                                <div class="skill-block">
                                                    <h5 class="timer" data-to="56" data-speed="500"> 5.5 </h5>
                                                    <h6> - Photoshop</h6>
                                                    <div class="skill-line">
                                                        <div class="line-fill" data-width-pb="56%" style="width: 56%;"></div>
                                                    </div>
                                                </div>
                                                <div class="skill-block">
                                                    <h5 class="timer" data-to="70" data-speed="500">6.4 </h5>
                                                    <h6> - Metacritic</h6>
                                                    <div class="skill-line">
                                                        <div class="line-fill" data-width-pb="70%" style="width: 70%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </li>
                        <li style="width: 876px; margin-right: 0px; float: left; display: block;" class="">
                            <article class="product-item hover-dark">
                                <div class="featured-image bg-cover" style="background-image: url(&quot;http://localhost:8080/images/carousel/movie-6.jpg&quot;);">
                                    <img src="images/carousel/movie-6.jpg" alt="image" draggable="false" style="display: none;">
                                    <a href="https://vimeo.com/28177848" class="video-player"><i class="fa fa-play"></i></a>
                                </div>
                                <div class="entry-title">
                                    <ul class="subtitle">
                                        <li>Action</li>
                                        <li>Science Fiction</li>
                                        <li>Adventure</li>
                                    </ul>
                                    <a href="javascript:;" class="title">Lord of the rings: The return of the kings </a>
                                    <div class="entry-date"><span>5 May 2017</span></div>
                                    <div class="social-links">
                                        <a href="javascript:;"><i class="fa fa-facebook"></i></a>
                                        <a href="javascript:;"><i class="fa fa-twitter"></i></a>
                                        <a href="javascript:;"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>

                                <div class="entry-desc">
                                    <div class="row mh0">
                                        <div class="col-md-2 col-sm-3 col-xs-12 comming_movie ph0">
                                            <img src="images/carousel/movie-6.jpg" alt="movie" draggable="false">
                                        </div>
                                        <div class="col-md-8 col-sm-7 col-xs-12 entry-text phl3">
                                            <h3>synopsis</h3>
                                            <p>Authoritatively pontificate error-free deliverables and technically sound mindshare. Quickly build ong-term high-impact outsourcing vis-a-vis best-of-breed communities. Collaboratively disseminate prospective supply chains after corporate "outside the box" thinking. Rapidiously promote interactive metrics for ethical materials.  Professionally repurpose market-driven applications with...</p>
                                            <a href="javascript:;" class="btn order">pre order</a>
                                            <a href="javascript:;" class="btn more mhl20">Read more</a>
                                        </div>
                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                            <div class="wpc-skills animated">
                                                <div class="skill-block">
                                                    <h5 class="timer" data-to="70" data-speed="500">6.4 </h5>
                                                    <h6> - Metacritic</h6>
                                                    <div class="skill-line">
                                                        <div class="line-fill" data-width-pb="70%" style="width: 70%;"></div>
                                                    </div>
                                                </div>
                                                <div class="skill-block">
                                                    <h5 class="timer" data-to="56" data-speed="500"> 5.5 </h5>
                                                    <h6> - Photoshop</h6>
                                                    <div class="skill-line">
                                                        <div class="line-fill" data-width-pb="56%" style="width: 56%;"></div>
                                                    </div>
                                                </div>
                                                <div class="skill-block">
                                                    <h5 class="timer" data-to="70" data-speed="500">6.4 </h5>
                                                    <h6> - Metacritic</h6>
                                                    <div class="skill-line">
                                                        <div class="line-fill" data-width-pb="70%" style="width: 70%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </li>

                        <li style="width: 876px; margin-right: 0px; float: left; display: block;" class="clone" aria-hidden="true">
                            <article class="product-item hover-dark">
                                <div class="featured-image bg-cover" style="background-image: url(&quot;http://localhost:8080/images/carousel/movie-1.jpg&quot;);">
                                    <img src="images/carousel/movie-1.jpg" alt="image" draggable="false" style="display: none;">
                                    <a href="https://vimeo.com/28177848" class="video-player"><i class="fa fa-play"></i></a>
                                </div>
                                <div class="entry-title">
                                    <ul class="subtitle">
                                        <li>Action</li>
                                        <li>Science Fiction</li>
                                        <li>Adventure</li>
                                    </ul>
                                    <a href="javascript:;" class="title">Lord of the rings: The return of the kings </a>
                                    <div class="entry-date"><span>5 May 2017</span></div>
                                    <div class="social-links">
                                        <a href="javascript:;"><i class="fa fa-facebook"></i></a>
                                        <a href="javascript:;"><i class="fa fa-twitter"></i></a>
                                        <a href="javascript:;"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>

                                <div class="entry-desc">
                                    <div class="row mh0">
                                        <div class="col-md-2 col-sm-3 col-xs-12 comming_movie ph0">
                                            <img src="images/carousel/movie-1.jpg" alt="movie" draggable="false">
                                        </div>
                                        <div class="col-md-8 col-sm-7 col-xs-12 entry-text phl3">
                                            <h3>synopsis</h3>
                                            <p>Authoritatively pontificate error-free deliverables and technically sound mindshare. Quickly build ong-term high-impact outsourcing vis-a-vis best-of-breed communities. Collaboratively disseminate prospective supply chains after corporate "outside the box" thinking. Rapidiously promote interactive metrics for ethical materials.  Professionally repurpose market-driven applications with...</p>
                                            <a href="javascript:;" class="btn order">pre order</a>
                                            <a href="javascript:;" class="btn more mhl20">Read more</a>
                                        </div>
                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                            <div class="wpc-skills animated">
                                                <div class="skill-block">
                                                    <h5 class="timer" data-to="70" data-speed="500">6.4 </h5>
                                                    <h6> - Metacritic</h6>
                                                    <div class="skill-line">
                                                        <div class="line-fill" data-width-pb="70%" style="width: 70%;"></div>
                                                    </div>
                                                </div>
                                                <div class="skill-block">
                                                    <h5 class="timer" data-to="56" data-speed="500"> 5.5 </h5>
                                                    <h6> - Photoshop</h6>
                                                    <div class="skill-line">
                                                        <div class="line-fill" data-width-pb="56%" style="width: 56%;"></div>
                                                    </div>
                                                </div>
                                                <div class="skill-block">
                                                    <h5 class="timer" data-to="70" data-speed="500">6.4 </h5>
                                                    <h6> - Metacritic</h6>
                                                    <div class="skill-line">
                                                        <div class="line-fill" data-width-pb="70%" style="width: 70%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </li></ul></div><ul class="flex-direction-nav"><li class="flex-nav-prev"><a class="flex-prev" href="#">Previous</a></li><li class="flex-nav-next"><a class="flex-next" href="#">Next</a></li></ul></div>
            </div>
        </div>
        <div id="carousel_coming" class="flexslider">

            <div class="flex-viewport" style="overflow: hidden; position: relative;"><ul class="slides" style="width: 1200%; transition-duration: 0s; transform: translate3d(-496px, 0px, 0px);">
                <li class="thumb_item bg-cover flex-active-slide" style="background-image: url(&quot;http://localhost:8080/images/carousel/movie-1.jpg&quot;); width: 212px; margin-right: 20px; float: left; display: block;">
                    <div class="movie-image">
                        <a href="#" class="btn fill">Selected</a>
                        <img src="images/carousel/movie-1.jpg" class="wpc_img" alt="image" draggable="false" style="display: none;">
                        <div class="entry-desc">
                            <div class="rating">
                                <input name="stars" type="radio">
                                <label>☆</label>
                                <input name="stars" type="radio">
                                <label>☆</label>
                                <input name="stars" type="radio">
                                <label>☆</label>
                                <input name="stars" type="radio">
                                <label>☆</label>
                                <input name="stars" type="radio">
                                <label>☆</label>
                            </div>
                            <h3 class="entry-title">The Mountian</h3>
                            <ul class="entry-date">
                                <li>5 May 2017</li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="thumb_item bg-cover" style="background-image: url(&quot;http://localhost:8080/images/carousel/movie-2.jpg&quot;); width: 208.8px; margin-right: 20px; float: left; display: block;">
                    <div class="movie-image">
                        <a href="#" class="btn fill">Selected</a>
                        <img src="images/carousel/movie-2.jpg" class="wpc_img" alt="image" draggable="false" style="display: none;">
                        <div class="entry-desc">
                            <div class="rating">
                                <input name="stars" type="radio">
                                <label>☆</label>
                                <input name="stars" type="radio">
                                <label>☆</label>
                                <input name="stars" type="radio">
                                <label>☆</label>
                                <input name="stars" type="radio">
                                <label>☆</label>
                                <input name="stars" type="radio">
                                <label>☆</label>
                            </div>
                            <h3 class="entry-title">The Mountian</h3>
                            <ul class="entry-date">
                                <li>5 May 2017</li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="thumb_item bg-cover" style="background-image: url(&quot;http://localhost:8080/images/carousel/movie-3.jpg&quot;); width: 208.8px; margin-right: 20px; float: left; display: block;">
                    <div class="movie-image">
                        <a href="#" class="btn fill">Selected</a>
                        <img src="images/carousel/movie-3.jpg" class="wpc_img" alt="image" draggable="false" style="display: none;">
                        <div class="entry-desc">
                            <div class="rating">
                                <input name="stars" type="radio">
                                <label>☆</label>
                                <input name="stars" type="radio">
                                <label>☆</label>
                                <input name="stars" type="radio">
                                <label>☆</label>
                                <input name="stars" type="radio">
                                <label>☆</label>
                                <input name="stars" type="radio">
                                <label>☆</label>
                            </div>
                            <h3 class="entry-title">The Mountian</h3>
                            <ul class="entry-date">
                                <li>5 May 2017</li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="thumb_item bg-cover" style="background-image: url(&quot;http://localhost:8080/images/carousel/movie-4.jpg&quot;); width: 208.8px; margin-right: 20px; float: left; display: block;">
                    <div class="movie-image">
                        <a href="#" class="btn fill">Selected</a>
                        <img src="images/carousel/movie-4.jpg" class="wpc_img" alt="image" draggable="false" style="display: none;">
                        <div class="entry-desc">
                            <div class="rating">
                                <input name="stars" type="radio">
                                <label>☆</label>
                                <input name="stars" type="radio">
                                <label>☆</label>
                                <input name="stars" type="radio">
                                <label>☆</label>
                                <input name="stars" type="radio">
                                <label>☆</label>
                                <input name="stars" type="radio">
                                <label>☆</label>
                            </div>
                            <h3 class="entry-title">The Mountian</h3>
                            <ul class="entry-date">
                                <li>5 May 2017</li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="thumb_item bg-cover" style="background-image: url(&quot;http://localhost:8080/images/carousel/movie-5.jpg&quot;); width: 208.8px; margin-right: 20px; float: left; display: block;">
                    <div class="movie-image">
                        <a href="#" class="btn fill">Selected</a>
                        <img src="images/carousel/movie-5.jpg" class="wpc_img" alt="image" draggable="false" style="display: none;">
                        <div class="entry-desc">
                            <div class="rating">
                                <input name="stars" type="radio">
                                <label>☆</label>
                                <input name="stars" type="radio">
                                <label>☆</label>
                                <input name="stars" type="radio">
                                <label>☆</label>
                                <input name="stars" type="radio">
                                <label>☆</label>
                                <input name="stars" type="radio">
                                <label>☆</label>
                            </div>
                            <h3 class="entry-title">The Mountian</h3>
                            <ul class="entry-date">
                                <li>5 May 2017</li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="thumb_item bg-cover" style="background-image: url(&quot;http://localhost:8080/images/carousel/movie-6.jpg&quot;); width: 208.8px; margin-right: 20px; float: left; display: block;">
                    <div class="movie-image">
                        <a href="#" class="btn fill">Selected</a>
                        <img src="images/carousel/movie-6.jpg" class="wpc_img" alt="image" draggable="false" style="display: none;">
                        <div class="entry-desc">
                            <div class="rating">
                                <input name="stars" type="radio">
                                <label>☆</label>
                                <input name="stars" type="radio">
                                <label>☆</label>
                                <input name="stars" type="radio">
                                <label>☆</label>
                                <input name="stars" type="radio">
                                <label>☆</label>
                                <input name="stars" type="radio">
                                <label>☆</label>
                            </div>
                            <h3 class="entry-title">The Mountian</h3>
                            <ul class="entry-date">
                                <li>5 May 2017</li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul></div><ul class="flex-direction-nav"><li class="flex-nav-prev"><a class="flex-prev" href="#">Previous</a></li><li class="flex-nav-next"><a class="flex-next" href="#">Next</a></li></ul></div>
    </div>
</div>
</body>
</html>